{% extends 'base.html' %}

{% block title %} {{ pageTitle }} {% endblock %}

{% block content %}
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <h1 class="text-left">{{ pageTitle }}</h1>
    </div>
  </div>

  <section ng-app="Polliter" ng-controller="{{ jsController }}">

    <div class="col-md-8 col-md-offset-2" ng-repeat="topic in topics">
      <div class="row">
        <div class="panel panel-default">

          <div class="panel-body text-left">
            <div class="col-md-4">
              <div class="row">
                <img class="img-responsive" src="[[ topic.image ]]" alt="[[ topic.title ]]">
              </div>
            </div>
            <div class="col-md-8">
              <h3 class="card-title">[[ topic.title ]]</h3>
              <p class="card-text">[[ topic.description ]]</p>

              <hr>

              <span ng-repeat="politician in topic.politicians">
                <span class="badge green">[[ politician.name ]]</span>
              </span>

              <span ng-repeat="theme in topic.themes">
                <span class="badge blue" >[[ theme.name ]]</span>
              </span>

            </div>
          </div>

          <div class="panel-footer text-right">
            <a href="[[ topic.reference ]]" class="card-link" target="_blank">Veja mais +</a>
          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock %}
